@font-face {
    font-family: 'Matemasie';
    src: url('./Matemasie-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Outfit';
    src: url('./Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Outfit';
    src: url('./Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Outfit';
    src: url('./Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'SpaceMono';
    src: url('./SpaceMono-Regular.ttf') format('truetype');
  }
  